body {
  color: #36313d;
  font-weight: 300;
  /* margin: 16px; */
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI";
}

header {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #00b5f9; */
}

body h1 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 30px auto;

  max-width: 1024px;
  font-size: -webkit-xxx-large;
}

header vaadin-combo-box {
  margin-left: 16px;
  min-width: 300px;
}

hr {
  max-width: 1024px;
}

main {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

news-article {
  flex-basis: 33.33%;
  -ms-flex: auto;
  width: 250px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.footer {
  /* background: #00b5f9; */
  color: #36313d;
  text-align: center;
  padding: 60px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  /* background-color: #e9e9e9; */
  max-width: 1024px;
  margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #36313d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  overflow: hidden;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00b5f9;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #fff;
  color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  hr {
    margin: 10px 20px;
  }
}

@media (max-width: 1073px) {
  news-article {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  news-article {
    flex-basis: 50%;
  }
}
@media (max-width: 555px) {
  news-article {
    flex-basis: 100%;
  }
}
